<head>
    <title>My Django Project</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <center>
        <div class="jumbotron">
            <h2>You've Scanned An Item Of Mine!</h2>
        </div>
        <p>I'm currently tracking {{ item_count }} object{% if item_count != 1%}s{% endif %}</p>
        </div>

    </center>
</body>

<footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</footer>