<head>
    <title>My Django Project</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <center>
        <div class="jumbotron">
            <h2>You've Scanned An Item Of Mine!</h2>
        </div>
        <h3>It's my {{ object.name }}!</h3>
        <p>{{ object.description }}</p>
        {% if object.image %}
            <img src="{{ object.image.url }}">
        {% else %}
            <p>Image Not Available</p>
        {% endif %}
        </div>

    </center>
</body>

<footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</footer>